<h1>Hi <%= @user.name %>,</h1>

<p>Here is a problem for you for today:</p>

<h2><%= @problem.title %> </h2>

<p><%= @problem.description %> </p>

<p><%= link_to 'Show', problem_url(@problem)   %> </p>
