<h4>Comments:</h4>	
<% @comments.each do |comment| %>
  	<p><%= comment.content %></p>
  	<%= link_to 'Delete', [@commentable, comment], class: 'btn btn-danger',  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>