
	<div class="content">
		<h1>Editing problem</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @problem , class: "btn btn-6 btn-6l" %> |
		<%= link_to 'Back', problems_path, class: "btn btn-6 btn-6k" %>
	</div>
