<div id="container" class="container">  
	<nav id="bt-menu" class="bt-menu">
		<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
		<%= render "layouts/header" %>
	</nav>
	<div class="bb-custom-wrapper">
		<div id="bb-bookblock" class="bb-bookblock">
			<div class="bb-item" id="item1">
				<div class="content">
    			<div class="scroller">
						<h1>New problem</h1>

						<%= render 'form' %>

						<%= link_to 'Back', problems_path, class: "btn btn-6 btn-6k" %>
					</div>
				</div>
			</div>
		</div>
	</div>  
</div>