<div class="container-fluid">
  <div class="row">
    <%= render "layouts/side_nav" %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">All Users</h1>
      <% @users.each do |user| %>
        <li><%= link_to user.name, user %>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
        <% if current_user.try(:admin?) %> 
        <%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
        </li>
      <% end %>
    </div>
  </div>
</div>
       