
	<div class="content">
		<h1>Hi !</h1>

		<p> Have you ever studied for a technical interview?
			<br>
			<br>
		 Then, you probably have a collection of algorithm problems and solutions lying around on scraps of paper or stored in different code repos.
		<br> 
		<br>
		So, why not to keep them all in one place?

		<br>
		<br>
		This way other people can contribute their solutions to your problems. 
		<br>
		<br>
		And, the next time you decide to start prepping for an interview; you know where to go!

		<br>
		<br>
		Plus, think of all those people who you can help to land a job!
		<br> 
		<br>
		If you have ideas on how to make this project better let me know:
		<br>
		<br>
		codebeta3@gmail.com
		<br>
		<br>
		You can also connect with me here:</p>

		<div id="social-media-icons">
			<ul>
			<li class="icons">
				<a href="https://twitter.com/Gulnara" target="_blank">
					<%= image_tag('twitter.png', :size=>'40x40') %>
				</a>
			
				<a href="http://github.com/Gulnara" target="_blank">
					<%= image_tag('github.png', :size=>'40x40') %>
				</a>
			
				<a href="http://www.linkedin.com/in/gulnaram/" target="_blank">
					<%= image_tag('linkedin.png', :size=>'40x40') %>
				</a>
			</li>
			</ul>
		</div>
	</div>

