<div id="container" class="container">  
  <nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <%= render "layouts/header" %>
  </nav>
  <div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock">
      <div class="bb-item" id="item1">
        <div class="content">
          <div class="scroller">
					<h1>Hi !</h1>

					<p>I built codebeta for a few reasons:
						<br>
					- to have a database of solutions to technical interview questions 
					<br>
						- to practice algorithm problems regurlarly 
					<br>
						- to learn ROR 
					<br> 

					If you have ideas on how to make this project better let me know:
					<br>
					improvements@codebeta.me
					<br>
					<br>
					also you can connect with me:</p>

					<div id="social-media-icons">
						<ul>
							<li class="icons">
								<a href="https://twitter.com/Gulnara" target="_blank">
									<%= image_tag('twitter.png', :size=>'40x40') %>
								</a>
							</li>
							<li class="icons">
								<a href="http://github.com/Gulnara" target="_blank">
									<%= image_tag('github.png', :size=>'40x40') %>
								</a>
							</li>

							<li class="icons">
								<a href="http://www.linkedin.com/in/gulnaram/" target="_blank">
									<%= image_tag('linkedin.png', :size=>'40x40') %>
								</a>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>  
</div>