<div class="content">
  <h1>Welcome to CodeBeta !</h1>
  <h2>where you can store and find solutions to algorithm problems and</h2>
  <h2>sign up to receive one algorithm problem a day</h2>
    
  <%= render "layouts/info_feed" %>
</div>


