

    <div class="content">
      <h1>Welcome to CodeBeta !</h1>
      <h3>where you can store and find solutions to algorithm problems and</h3>
      <h3>sign up to receive one algorithm problem a day</h3>
        <div class="analytics">

        </div>
      <%= render "layouts/info_feed" %>
    </div>


