
/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {

	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 300;
	font-size: 100%;

	height: 100%;
}

p {
	color: #ECF0F1;
}



.js body {
	overflow: hidden;
}

a {
	color: #1ABC9C;
	text-decoration: none;
	outline: none;
}

.profile img {
max-width: 100%;
border-radius: 50%;
}

.profile , .profile p {

	text-align: center;
}

a:hover {
	color: #BDF271;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	right:0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}
.slideLeft {
    left: -240px;
}

.no-js .container {
	padding-left: 240px;
}
.no-js .container {
    padding-right: 240px;
}

.menu-panel {
	background: #1ABC9C;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #2C3E50;
	text-align: center;
}
.side-panel {
    background: #1ABC9C;
    width: 240px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #2C3E50;
    text-align: center;
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.js .side-panel {
    position: absolute;
    right: -240px;
}

.menu-panel h2 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #2C3E50;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);

} 

.side-panel h2 {
    font-size: 1.8em;
    padding-left: 20px;
    font-weight: 300;
    color: #2C3E50;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);

}

.menu-toc th {
	padding-top: 10px;
	padding-bottom: 10px;

}

.side-toc th {
	padding-top: 10px;
	padding-bottom: 10px;
    
}

.menu-toc a  {
	
	color: #BDF271;
	font-size: 1.1em;
	line-height: 2;
	font-weight: 500;
	padding: 0 10px;
	
}

.side-toc a {

    color: #BDF271;
	font-size: 1.1em;
	line-height: 2;
	font-weight: 500;
	padding: 0 10px;

}

.menu-toc a:hover {
	color: #2C3E50;
}

.side-toc a:hover {
	color: #2C3E50;
}



.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.menu-button {
	position: absolute;
	z-index: 1000;
	left: 20px;
	top: 20px;
	cursor: pointer;
}

.side-button {
	position: absolute;
	z-index: 1000;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 80px;
	right: 80px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav ul li{
	display: inline-block;
	cursor: pointer;
}


.bb-custom-wrapper nav span:last-child {
	left: 40px;
}



.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.no-js .bb-custom-wrapper nav span,
.no-js .side-button {
    display: none;
}

.js .content {
	position: absolute;
	text-align: center;
	top: 40px;
	left: 0;
	width: 100%;
	bottom: 10px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}



.content h1 {
	font-weight: 300;
	font-size: 2em;
	color: #BDF271;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	font-size: 1.2em;
	color: #BDF271;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}

@media screen and (max-width: 800px){
    .no-js .side-panel {
        display: none;
    }
 
    .no-js .container {
        padding: 0;
    }
}
 
@media screen and (max-width: 400px){
    .side-panel,
    .content {
        font-size: 75%;
    }
}

.form-control:-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #b2bcc5;
}
.form-control::-webkit-input-placeholder {
  color: #b2bcc5;
}
.form-control.placeholder {
  color: #b2bcc5;
}
.form-control{

	background-color: #34495E;
  border: 2px solid #bdc3c7;
  color: #ECF0F1;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form-group .textareawidth {
  width: 100%;

  color: #34495e;
  border-radius: 6px;
}



.form-group.focus .textareawidth:focus {
  width: 100%;
  color: #34495e;
  border-color: #bdc3c7;;
  border-radius: 6px;
  outline: 0;
}

.form-group.focus .form-control,
.form-control:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.form-control.flat {
  border-color: transparent;
}
.form-control.flat:hover {
  border-color: #bdc3c7;
}
.form-control.flat:focus {
  border-color: #1abc9c;
}
.input-sm {
  height: 35px;
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1.462;
  border-radius: 6px;
}
select.input-sm {
  height: 35px;
  line-height: 35px;
}
textarea.input-sm {
  height: auto;
}
.input-lg {
  height: 45px;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 1.235;
  border-radius: 6px;
}
select.input-lg {
  height: 45px;
  line-height: 45px;
}
textarea.input-lg {
  height: auto;
}
.input-hg {
  height: 53px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.318;
  border-radius: 6px;
}
select.input-hg {
  height: 53px;
  line-height: 53px;
}
textarea.input-hg {
  height: auto;
}


html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background: #10B1C5;
	text-align:center;
}



#social-media-icons{
	float: center;
}
#social-media-icons li{
	display: inline;
	padding: 10px 5px 10px 5px;
}

#unicorn  {
	padding-top: 70px;
	float: center;
}



 @-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}to{ -webkit-transform: rotate(360deg);}}



 .twitter  img:hover{
-webkit-animation-name: rotate;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-function: linear;
}

 
 .menu-button img:hover {
 -webkit-animation-name: rotate;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-function: linear;}
 

 .side-button img:hover {
 -webkit-animation-name: rotate;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-function: linear;}

 .linkedin img:hover {
 -webkit-animation-name: rotate;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-function: linear;}
 
 
 .icons img:hover {
 -webkit-animation-name: rotate;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-function: linear;}



svg text{
  font-family: 'Lato', Calibri, Arial, sans-serif;
 fill: #ECF0F1 ;
	font-weight: 300;
	font-size: 100%;
	color: #ECF0F1;
	text-align: center;
}


.analytics {
	padding-top: 20px;

}

.analytics h2 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #ECF0F1;
	padding-bottom: 20px;
}

.analytics p {

	color: #ECF0F1;

}

label {
	color: #BDF271;
}

.scroller h2 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #BDF271;
	padding-bottom: 20px;
}

.problem_description {

	display: block;
	background: #ECF0F1;
	text-align: left; 
	padding: 10px;
	border-radius: 15px;

}


.problem_description p {
	color: black;
	font-size: 1em;

	line-height: 1;
	font-weight: 300;
}

.generic h2 {
		font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: #ECF0F1;
	padding-top: 10px;
	padding-bottom: 10px;

}



.text_area {

width: 100%;
  background-color: #34495e;
  border-radius: 6px;
    

  border-color: #bdc3c7;;

  outline: 0;


  border: 2px solid #bdc3c7;
  color: #ECF0F1;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;

  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;

  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.text_area:-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
}
.text_area::-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
}
.text_area:-ms-input-placeholder {
  color: #b2bcc5;
}
.text_area::-webkit-input-placeholder {
  color: #b2bcc5;
}
.text_area.placeholder {
  color: #b2bcc5;
}



.text_area:focus {
  border-color: #1abc9c;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}
.text_area[disabled],
.text_area[readonly],
fieldset[disabled] .text_area {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.text_area.flat {
  border-color: transparent;
}
.text_area.flat:hover {
  border-color: #bdc3c7;
}
.text_area.flat:focus {
  border-color: #1abc9c;
}



