<div class="container">
	<div class="content">
	<h1>Solution to<%= @problem.title %></h1>

	<%= render 'form' %>

	<%= link_to 'Back',  problem_path(@problem) , class: "btn btn-6 btn-6k"%>
	</div>
</div>