<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="problems">Problems <span class="sr-only">(current)</span></a></li>
    <li><a href="solutions">Solutions</a></li>
    <li><a href="users">Users</a></li>
    <li><a href="unanswered">Unanswered</a></li>
    <li><a href="">Most Popular</a></li>
  </ul>
</div>